[myskoda]
username = "your-email@example.com"
password = "your-password"

[alphaess]
appid = "your-app-id"
appsecret = "your-app-secret"
sn = "ALD007"

[myenergi]
hubserial = "12345678"
password = "your-app-password"
